html,body{
  margin:0;
  width:100%;
  height:100%;
  background:black;
  overflow:hidden;
}

#player{
  position:fixed;
  inset:0;
  background:black;
}

/* Startscreen Overlay */
.startText{
  position:fixed;
  inset:0;                 /* füllt ganzen Bildschirm */
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:3rem;
  letter-spacing:0.2em;
  color:white;
  background:black;
  cursor:pointer;
  z-index:10;              /* Overlay liegt über Videos */
  user-select:none;
}

/* Videos */
video{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1.2s linear;
  z-index:1;
}

video.active{
  opacity:1;
}
