html,body{
  margin:0;
  width:100%;
  height:100%;
  background:black;
  overflow:hidden;
}

#player{
  position:fixed;
  inset:0;
  background:black;
}

/* Startscreen Text */
.startText{
  position:fixed;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:3rem;
  letter-spacing:0.2em;
  color:white;
  background:black;
  cursor:pointer;
}

/* Dynamisch erzeugte Videos */
video{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1.2s linear;
}

video.active{
  opacity:1;
}
