

@@ -14,6 +14,24 @@ html, body {
  object-fit: cover;
}

#startOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background: rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/* Video Layer */
video {
  position: absolute;
  width: 100%;

