html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

#startImage, #idleImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#idleImage { display: none; }

#player {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#startOverlay {
  opacity: 0%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background: rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s linear;
}

video.active {
  opacity: 1;
}