html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

#player, #startImage {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#startOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  font-size: 2rem;
  color: white;
  background: rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s linear;
}

video.active {
  opacity: 1;
}