html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

#player, #startImage {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Video Layer wird dynamisch erzeugt */
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s linear;
}

video.active {
  opacity: 1;
}
